.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}
/* pushing the footer to the bottom if there is no data in the body */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
footer, .push {
    height: 155px; /* remember to keep the push the same height as .footer */
}

/* footer icon image size */

.icon_img {
    height: 42px;
    width: 42px;
}

.icon_img:hover {
    opacity: .5;
}
