.nav-contain {
    vertical-align: middle;
}

li {
    text-decoration: none;
    list-style: none;
}



.navbar-brand, #cart {
    font-size: 37px;
    color: black;
    text-transform: uppercase;
    padding-top: 26px;
    height: 110px;

}

.navbar-large .nav-link, .login-logout {
    color: black;
    text-transform: uppercase;
    font-size: 13px;
    height: 55px;
}

.logo-nav:hover .navbar-brand, .men-nav, .women-nav, .username-or-login, .access-nav, .elec-nav, .cart-div, .logo-nav {
    color: white;
}
.men-nav:hover, .women-nav:hover, .username-or-login:hover, .access-nav:hover, .elec-nav:hover, .cart-div:hover, .logo-nav:hover, .men-nav:hover a, .women-nav:hover a, .username-or-login:hover a, .access-nav:hover a, .elec-nav:hover a, #cart:hover, .logo-nav:hover .navbar-brand {
    background-color: black;
    color: white;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.navbar-large {
    border-bottom: 1px solid black;
    height: 110px;
}

.middle-nav, .username-or-login {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.bottom-middle-nav {
    border-top: 1px solid black;
    height: 55px;
}

.men-nav {
    border-right: 1px solid black;
}

.elec-nav {
    border-left: 1px solid black;
}

.login-logout {
    background-color: transparent;
    border: none;
    border-radius: none;
    box-shadow: none;
    color: black;
    height: 55px;
}

#search-bar {
    background-color: transparent;
    border: none;
    border-radius: none;
    box-shadow: none;
    color: black;
    height: 55px;
    font-size: 10px;
    text-transform: uppercase;
    opacity: 1;
}

.cart-div {

}

#cart {


}


/* .navbar-brand {
    color: black;
    border-right-style: solid;
    border-width: 1px;
    height: 110px;
}

.navbar {
    transition: all 0.4s;
    outline-style: solid;
    outline-color: invert;
    outline-width: thin;
    height: 110px;

}
.navbar .nav-link {
    color: black;
}

.navbar .navbar-nav {
  margin: 0 auto;
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus, .navbar a:hover {
    color: #fff;
    text-decoration: none;
}

.cart{
    list-style: none;
}
#cart {
    text-decoration: none;
    margin-top: 20px;

}
*/

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {

    }
}

.carousel-inner img {
    width: 100%;
    height: 691px;
    overflow: auto;
    object-fit: cover;
}

.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

.action-wrap a {
    background-color: #800000;
    border-color: #800000;
}

h6 a {
    color: black;
}

.action-wrap a:hover {
    text-decoration: none;
    opacity: .8;
    background-color: black;
    border-color: black;
}

h6 a:hover {
    color: #800000;
    text-decoration: none;
}


#footer {
    background-color: #161616;
}

#footer p, h5 {
    color: #E7E7E7;
}

hr {
    background-color: #E7E7E7;
}



/* pushing the footer to the bottom if there is no data in the body */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
footer, .push {
    height: 155px; /* remember to keep the push the same height as .footer */
}

/* footer icon image size */

.icon_img {
    height: 42px;
    width: 42px;
}

.icon_img:hover {
    opacity: .5;
}
