{% load cart_tag %}
<title>Colywobbles</title>
<nav class="navbar-large fixed-top">
    <div class="nav-contain container-fluid">
        <div class="row">
            <div class="logo-nav col" style="text-align:right">
                <a class="navbar-brand font-weight-bold" href="/">clly</a>
            </div>
            <div class="middle-nav col-8" style="text-align:center;vertical-align:middle;">
                <form class="form-inline" action="/action_page.php">
                    <input id="search-bar" class="form-control mr-sm-2" type="text" placeholder="     Search" style="width:100%">
                </form>
                <div class="bottom-middle-nav row">
                    <div class="col men-nav">
                        <li {% if request.path == 'contact' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
                            <a class="nav-link" href="#">Men <span class="sr-only">(current)</span></a>
                        </li>
                    </div>
                    <div class="women-nav col">
                        <li class="nav-item">
                            <a class="women-lsit nav-link" href="#">Women</a>
                        </li>
                    </div>
                    <div class="username-or-login col-4">
                        {% if request.user.is_authenticated %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'mainapp:cart-home' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-tie"></i> {{ request.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Dashboard</a>
                                <a class="dropdown-item" href="{% url 'checkout:orderView' %}">Orders</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/accounts/logout/">Logout</a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a  class="login-logout btn btn-primary" href="/accounts/login/">Login / Register</a>
                        </li>
                        {% endif %}
                    </div>
                    <div class="access-nav col">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Accessories</a>
                        </li>
                    </div>
                    <div class="elec-nav col">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Electronics</a>
                        </li>
                    </div>
                </div>
            </div>
            <div class="cart-div col" style="text-align:center;">
                <a id="cart" class="nav-link" href="{% url 'mainapp:cart-home' %}">
                    <i class="fa fa-shopping-cart"></i> Cart
                </a>
            </div>
        </div>
    </div>


</nav>
