{% extends 'products/base.html' %}


{% block content %}
<div class="push"></div>
<div class="container my-5">
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<div class="col-sm-5 border-right">
				<article>
					<div>
						<div><a href="#"><img class="product-detail-img" src="/media/{{ object.mainimage }}" style="width: 450px;"></a></div>
					</div> <!-- slider-product.// -->
				</article> <!-- gallery-wrap .end// -->
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<article class="card-body p-5">
				<h3 class="title mb-3">{{ object.name }}</h3>
				<p class="price-detail-wrap">
					<span class="price h3 text-warning">
						<span class="currency">US $</span><span class="num">{{ object.price }}</span>
					</span>

				</p> <!-- price-detail-wrap .// -->
				<dl class="item-property">
					<dt>Description</dt>
					<dd><p>{{ object.preview_text }}</p></dd>
				</dl>

				<a href="{% url 'mainapp:cart' object.slug %}" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </a>
			</article> <!-- card-body.// -->
		</div>
	</div>
</div>

</div>
<!--container.//-->
<div class="push"></div>
{% endblock %}
